@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
button:hover {background-color: cornflowerblue;}
input:focus {background-color: lightgray;}
* {font-family: 'Permanent Marker', cursive;}